  .nav-container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 80px;
            width: 100%;
            padding: 0 40px;
            z-index: 1000;

        }
        .navbar{
            width: 100%;
        }
@media(max-width: 768px){
 .brand-name {
        font-size: 50px;
    }
    .hero-name {
        font-size: 22px;
    }
    .paragraph {
        font-size: 18px;
        max-width: 90%;
    }
    .buttons button {
        width: 120px;
        height: 45px;
    }
}

.hero-name{
        color: #cbd5e1;
        font-size: 28px;
        font-style: solid;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        letter-spacing: 1px;

    }
    
    .brand-name{
        margin-top:120px;
        margin-bottom: 10px;
        
        font-size: 70px;
        font-style: solid;
        color: rgb(54, 158, 215);
        font-family: Arial;
        display:flex;
        justify-content: center;
        text-align: center;
        font-family: "orbitron", sans-serif;
        font-weight: bold;

    }
    .hero-section{
        width:100%;
    }
    .navbar{
        display: flex;
        padding: 0; 
        width: 100%;
        z-index: 1000;
    }
    
    .paragraph{
        color: white;
        font-size: 21px;
        font-style: solid;
        display: flex;
        justify-content: center;
        text-align: center;
        letter-spacing: 1px;

    }
    .buttons{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        
    }
    .button-learn:hover{
        cursor: pointer;
        background-color: #cbd5e1;
        color:rgb(54, 158, 215);
        border-color:#cbd5e1;
    }
    .button-started:hover{
        cursor: pointer;
        background-color: rgb(54, 158, 215);
        border-bottom: rgb(54, 158, 215);
        color: #bccad7;
    }
    .button-learn:active,
    .button-started:active{
        opacity: 0.7;
    }

    .button-learn{
        padding: 10px;
        border-radius: 25px;
        color:#cbd5e1;
        background-color: rgb(54, 158, 215);
        border-width: 3px;
        border-color: white;



    }
    .button-started{
         padding: 10px;
        border-radius: 25px;
        color:  rgb(54, 158, 215);
        background-color: #cbd5e1 ;
        border-width: 3px;
        border-color: rgb(54, 158, 215) ;
        margin-left: 20px;
    }
     .left-section{
        display: flex;
        align-items: center;}
    .logo{
        height: 200px;
        width: auto;
    }
    .right-section{
        display: flex;
        align-items: center;
        gap: 5px;
    }
   
    
    .Menu-icon{
        width: 50px;
        height: 50px;
        margin-left: 20px;
       background-color:rgb(54, 158, 215);
       margin-right: 0px;
       border-radius: 2px;
       position:relative;
   

    }
     .menu-button .tooltip{
        position: absolute;
        color: white;
        background-color:grey;
        opacity: 0;
        border-radius: 2;
        border-width: 2px;
        padding: 1px;
        text-align: center;
        border-color:#cbd5e1;
        width: 55px;
        height: 20px;
        Margin-top:20px;
        pointer-events: none;


    }
     .menu-button:hover .tooltip{
        opacity: 1;
    transition: opacity 2s;
        
    }
    .Menu-icon:hover{
        cursor: pointer;
        background-color:#cbd5e1;
        transition: background-color 0.3s;

    }
    .Menu-icon:active{
             opacity: 0.5;
        transition: opacity 0.3s;
    }
    .home-button{
        width: 60px;
     height: 50px;
     margin-left: 10px;
     background-color:rgb(54, 158, 215);

    } 
    .home-button:hover{
        cursor: pointer;
        background-color: #cbd5e1;
    }
    .home-button:active{
         opacity: 0.5;
        transition: opacity 0.3s;
    }
    .features-button{
     width: 63px;
     height: 50px;
     margin-left: 10px;
     background-color:rgb(54, 158, 215);}

     .features-button:hover{
        cursor: pointer;
        background-color: #cbd5e1;
     }
     .features-button:active{
        opacity: 0.5;
        transition: opacity 0.3s;
     }

.about-section{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    gap: 60px;
    background-color: #0f172a;
    margin-left: 15px;
}
.about-text{
    width: 450px;
    height: 600px;
    margin-left: 15px;
    line-height: 1.6;
    margin-left: 15px;
}
.about-text h2{
    font-size: 52px;
    color:#bccad7;
}
.about-text p2{
font-size: 25px;
color:#bccad7;
}
.about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 200px;
}

.about-image{
    display: flex;
    flex: 1;
    justify-content: center;
    Margin-bottom: 100px;
    margin-right: 100px;
    width: 100%;
    max-width: 500px;
    height: auto;}

.about-btn{
    height: 30px;
    width: 150px;
    color:rgb(54, 158, 215);
    background-color: #edf0f3;
    border-radius: 3px;
    border-color:rgb(54, 158, 215);
    margin-top: 30px;
}
.about-btn:hover{
    cursor: pointer;
    opacity: 0.6;
}
.about-btn:active{
    opacity:0.3;
    transition: opacity 0.3s;
}
.services{
    text-align: center;
    padding: 100px 10%;
    margin-top: -50px;
}
.section-title{
    font-size: 40px;
    margin-bottom: 60px;
   color:rgb(54, 158, 215);
} 
.services-container{
    display:flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;

}
.service-card{
    background-color: #0f1c2e;
    color:rgb(54, 158, 215);
    padding: 40px;
    border-radius: 30px;
    width: 300px;
    transition: 0.3s ease;
}
.service-card:hover{
    transform: translateY(-20px);
}
.service-card h3{
    margin-bottom: 25px;
}
.service-card p {
    font-size: 15px;
    line-height: 1.6;

}
.feedback-section {
  text-align: center;
  padding: 80px 10%;
  background-color: #b6b4b4;
}
.feedback-section h2 {
  font-size: 40px;
  margin-bottom: 50px;
  color: #0f1c2e;
}
.feedback-cards{
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    background-color:rgb(238, 238, 238);
    padding: 50px;
    border-radius: 20px;
    max-width: 300px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    opacity: 0;
    transform: translateY(80px);
    animation: slideup 3s ease-out forwards;
    animation-delay: 1s;
}
@keyframes slideup{
  to{
    opacity: 1;
    transform: translateY(0);

  }  
}
.card h3 {
  font-size: 20px;
  margin-bottom: 10px;
}
.card p {
  font-size: 16px;
  color: #555;
}
.user-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}
.cta-section{
    background: linear-gradient(135deg, #0f172a, rgb(54, 158, 215));
    color: white;
    padding: 100px 20%;
    text-align: center;
    border-radius: 20px;
    margin: 50px 0;
}
.cta-section h2{
    font-size: 40px;
    margin-bottom: 20px;
}
.cta-section p{
    font-size: 20px;
    margin-bottom: 40px;
}
.cta-form{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.cta-form input{
    padding: 15px 30px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
    width: 250px;
}
.cta-form button{
    padding: 15px 30px;
    border-radius: 10px;
    border: none;
    background-color: #77a9f3;
    color: white;
    cursor: pointer;
    font-size: 20px;
    transition: all 0.3s ease;
}
.cta-form button:hover{
    transform: scale(1.1);
    background-color: #82bfdb;
}
.cta-form button:active{
    opacity: 0.8;
}
.cta-form input{
    width: 100%;
}
@media(max-width: 768px){
    .cta-section h2 {
    font-size: 28px;
  }

}
.footer{
    background-color: #0f172a;
    color: white;
    padding: 100px 20% 30px;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 60px;
}
.footer h2{
    font-size: 30px;
    margin-bottom: 20px;
}
.footer h3{
    margin-bottom: 20px;
    font-size: 20px;
}

.footer p{
    color:#cbd5e1;
    max-width: 250px;
}
.footer ul{
    list-style: none;
    padding: 0;
}

footer ul li{
    margin-bottom: 15px;
}
.footer ul li a{
    text-decoration: none;
    color:#cbd5e1;
    transition: 0.3s ease;
}
.footer ul li a:hover{
    color: #00d4ff;
}
.footer-bottom {
  text-align: center;
  margin-top: 50px;
  border-top: 1px solid #1e293b;
  padding-top: 20px;
  font-size: 14px;
  color: #94a3b8;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
  }
}
  